<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

	<title>Hr application</title>
</head>

<body>
	<div class="container">
		<div class="row my-3 ">
			<div class="col-10 col-md-6 col-lg-4">
				<form th:object="${newEmployee}" method="post" th:action="@{/employees}" class="my-3">
					<fieldset>
						<legend>Add new Employee</legend>
						<div class="form-group mb-3">
							<label for="employeeid" class="form-label">ID:</label>
							<input th:field="*{id}" required id="employeeid" type="number" class="form-control"
								placeholder="identification number"
								aria-label="input to add the identification number" />
						</div>
						<div class="form-group mb-3">
							<label for="employeename" class="form-label">Name:</label>
							<input th:field="*{name}" required id="employeename" type="text" class="form-control"
								placeholder="name" aria-label="input to add the name" />
						</div>
						<div class="form-group mb-3">
							<label for="employeejob" class="form-label">Job:</label>
							<input th:field="*{job}" required id="employeejob" type="text" class="form-control"
								placeholder="job" aria-label="input to add the job" />
						</div>
						<label for="employeesalary" class="form-label">Salary:</label>
						<div class="input-group mb-3">
							<input th:field="*{salary}" required id="employeesalary" type="number" class="form-control"
								placeholder="00000" aria-label="input to add the salary" />
							<span class="input-group-text">$</span>
						</div>
						<div class="form-group mb-3">
							<label for="employeestartdate" class="form-label">Start date:</label>
							<input th:field="*{startDate}" required id="employeestartdate" type="datetime-local"
								class="form-control" aria-label="input to add the start date" />
						</div>
					</fieldset>
					<button id="submit" type="submit" class="btn btn-primary">
						Add
					</button>
				</form>
				<hr />
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<table class="table table-striped caption-top">
					<caption>
						Added employees
					</caption>
					<thead class="table-dark">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Job</th>
							<th>Salary</th>
							<th>Start date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${employees}">
							<td th:text="${employee.key}">id</td>
							<!-- <td><a th:href="@{'./employees/' + ${employee.value.id}}"
									th:text="${employee.value.name}">Name:</a></td> -->
							<td><a th:href="@{/employees/{id}(id = ${employee.value.id})}"
									th:text="${employee.value.name}">Name:</a></td>		
							<td th:text="${employee.value.job}">job</td>
							<td th:text="${employee.value.salary}">salary</td>
							<td th:text="${employee.value.startDate}">startDate</td>
							<td>
								<!-- <a th:href="@{'/employees/delete/' + ${employee.key}}" class="btn btn-danger btn-sm">Delete</a> -->
								<a th:href="@{/employees/delete/{id}(id = ${employee.key})}" class="btn btn-danger btn-sm">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>